.item {
    background-color: rgb(241, 246, 252);
    border-radius: 0.5em;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    color: #000;

    &:hover {
        background-color: rgb(89, 173, 241);
    }

    & .removeBtn {
        transition: .3s;
        min-width: 1.5em;
        min-height: 1.5em;
        cursor: pointer;
        border-radius: 0.5em;

        &:hover {
            background-color: rgb(41, 80, 112);
            color: #fff;
        }
    }
}