* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  align-items: flex-end;
  background-color: rgb(88, 98, 206);
  width: 100%;
  padding: 2em 0;
}

.inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 40em;
  padding: 2em;
  background-color: rgb(220, 223, 255);
  margin: auto;
  border-radius: 2em;
}

.main_text {
  margin-bottom: 0.5em;
}
